*{
    margin: 0 auto;
    font-family: 'Indie Flower', cursive;
}
.header{
    background-color: #FFC720;
    padding: 10px;
}
.khung{
    display: flex;
    background-color: white;
    border-radius: 50px;
    align-items: center;
    margin:5px;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}
.logo img{
    max-width: 100px;
    width: 50%;
}
.logo h2{
    color: #D4A35F;
    font-family: Arial, Helvetica, sans-serif;
}
.head-mid{
    display: flex;
    gap: 30px;
}
.head-mid a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.head-right{
    margin-right: 50px;
    position: relative;
}
.head-right i{
    font-size: 30px;
    margin-left: 40px;
    cursor: pointer;
}
.dangnhap{
    position: absolute;
    top:40px;
    left:10px;
    background-color: white;
    padding:10px;
    border: solid,1px;
    opacity: 0;
    font-size: 20px;
}
.dangnhap a{
    text-decoration: none;
    color: black;
}
.head-right .fa-user:hover .dangnhap{
    opacity: 1;
}
body{
    background-image: url(ChatGPT\ Image\ Nov\ 8\,\ 2025\,\ 08_59_17\ AM.png);
}
.main{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right:300px;
}
.content{
    display: flex;
}
.bentrai>div{
    margin:30px;
    padding-right:60px;
    padding-top: 20px;
    padding-left: 30px;
    background-color: white;
    border: solid,1px;
    border-radius: 17px;
}
.bentrai h2{
    font-size: 40px;
}
.bentrai h3{
    font-size: 30px;
}
.bentrai input{
    background-color: white;
    border: solid,1px;
    border-radius: 17px;
    padding: 10px;
    padding-right: 300px;
    font-size: 20px;
}
.bentrai input::placeholder{
    font-size: 20px;
}
.giao>*{
    margin-bottom: 15px;
}
.nguoidat>*{
    margin-bottom: 15px;
}
.phuongthuc>*{
    margin-bottom: 15px;
}
.phuongthuc{
    display: flex;
    flex-direction: column;
    
}
.phuongthuc label{
    position: relative;
    margin-left: 40px;
}
.phuongthuc input{
    margin-right: 80px;
    width: 25px;
    height: 20px;
}
.phuongthuc span{
    font-size: 30px;
}
.phuongthuc img{
    position: absolute;
    width: 50px;
    left: 40px;
}
.benphai{
    margin:30px;
    padding-right:60px;
    padding-top: 20px;
    padding-left: 30px;
    background-color: white;
    border: solid,1px;
    border-radius: 17px;
    height: 800px;
}
.benphai h2{
    font-size: 40px;
}
.benphai p{
    font-size: 20px;
    color: grey;
    margin-bottom: 15px;
}
.benphai h2 a{
    font-size: 40px;
    color: #888;
    text-decoration: none;
}
.tamtinh{
    display: flex;
    justify-content: space-between;
}
.benphai span{
    font-size: 35px;
    margin: 0;
    margin-bottom: 10px;
}
.tongtien{
    display: flex;
    justify-content: space-between;
}
.tongtien span{
    font-size: 50px;
    margin:0;
    margin-bottom: 10px;
    margin-top:15px;
}
.benphai h3{
    font-size: 35px;
    margin-top: 20px;
    margin-left: 125px;
}
.benphai input{
    background-color: white;
    border: solid,1px;
    border-radius: 17px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    margin-left: 10px;
    padding-left: 75px;
    padding-right: 75px;
    font-size: 20px;
}
.benphai input::placeholder{
    font-size: 20px;
}
.dieukhoan{
    display: flex;
    margin-top: 30px;
    gap:10px;
    margin-bottom: 40px;
}
.dieukhoan input{
    margin: 0px;
    width: 30px;
}
.dieukhoan h4{
    font-size: 20px;
}
button{
    background: #6b2c1d;
    color: #ffc93c;
    font-size: 40px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background: #7c3a25;
}
.main h1{
    margin-top:50px;
    font-size: 50px;
}
.footer{
    background-image: url(ChatGPT\ Image\ Nov\ 16\,\ 2025\,\ 09_07_32\ AM.png);
    display: flex;
    padding: 30px;
    
}
.footer h2{
    margin-bottom:15px ;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
.footer a{
    text-decoration: none;
    color: white;
}