*{
    margin: 0 auto;
    font-family: 'Indie Flower', cursive;
}
.header{
    background-color: #FFC720;
    padding: 10px;
}
.khung{
    display: flex;
    background-color: white;
    border-radius: 50px;
    align-items: center;
    margin:5px;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 500px;
}
.logo img{
    max-width: 100px;
    width: 30%;
}
.logo h1{
    color: #D4A35F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.hello h1{
    font-size: 20px;
}
.khung .tool{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 50px; 
}
.khung .tool input{
    padding:10px;
    padding-right:100px;
    border-radius: 17px;
    border: solid,1px;
    font-size: 20px;
}
.khung .tool i{
    margin: 20px;
}
body{
    background-color: #fbedd6;
}
.main{
    display: flex;
    margin-top: 10px;
}
.fixed{
    position: fixed;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:white;
    border-radius: 17px;
    border:solid,2px;
}
.fixed *{
    margin:10px;
}
.fixed h2{
    font-size: 30px;
}
.fixed a{
    text-decoration: none;
    font-size: 20px;
    color:black;
    padding:15px;
}
.fixed a:hover{
    background: #652621;
    color: #FFC720;
    padding:15px;
    border-radius: 17px;
    transition: 0.5s;
}
.danhmuc{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 300px;
}
.danhmuc>div{
    margin-bottom: 50px;
}
.giaodien{
    background: white;
    display: flex;
    flex-direction: column;
    margin: 0px;
    border: solid,2px;
    border-radius: 17px;
}
.giaodien h2{
    font-size: 45px;
    margin-bottom: 30px;
}
.giaodien .chinh>div{
    background: #fbedd6;
    border: solid,1px;
    border-radius: 17px;
    margin-bottom: 50px;
    font-size: 30px;
    padding:20px
}
.chinhmon{
    background: white;
    display: flex;
    flex-direction: column;
    margin: 0px;
    border: solid,2px;
    border-radius: 17px;
}
.chinhmon h2{
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.chinhmon .tool{
    display: flex;
    gap:500px;
    margin-bottom: 30px;
}
.chinhmon .tool label{
    font-size: 40px;
    border: solid,1px;
    border-radius: 17px;
    padding:10px;
    background:#fbedd6;
}
.chinhmon .tool .timkiem{
    display: flex;
    align-items: center;
    position: relative;
}
.chinhmon .tool input{
    font-size: 25px;
    border: solid,1px;
    border-radius: 17px;
    padding-left: 50px;
}
.chinhmon .tool i{
    position: absolute;
    font-size: 20px;
    left:10px;
}
td {
    font-size:15px;
    text-align: center;
}
th{
    font-size: 20px;
}
.chinhmon table{
    border: solid,1px;
    border-collapse: collapse;
    margin:20px;
}
.chinhmon th, td {
    border: solid,1px;
    border-collapse: collapse;
    padding:5px;
    max-width: 1000px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.chinhmon .phuluc{
    margin-right: 30px;
    margin-bottom: 20px;
}
.chinhmon .phuluc button{
    background-color: white;
    border-radius: 2px;
    margin: 0px;
    padding:10px;
    padding-left: 15px;
    padding-right:15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}
.chinhmon .phuluc button:hover{
    color:#FFC720;
    background-color: #652621;
}
.chinhmon .phuluc button.macdinh{
    color:#FFC720;
    background-color: #652621;
}
.quanlykhach{
    background: white;
    display: flex;
    flex-direction: column;
    margin: 0px;
    border: solid,2px;
    border-radius: 17px;
}
.quanlykhach h2{
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.timkhach{
    margin-right: 120px;
    position: relative;
}
.timkhach input{
    font-size: 25px;
    border: solid,1px;
    border-radius: 17px;
    padding-left: 50px;
}
.timkhach i{
    position: absolute;
    font-size: 20px;
    left:10px;
    top:10px;
}
.quanlykhach table{
    border: solid,1px;
    border-collapse: collapse;
    margin:20px;
}
.quanlykhach th, td {
    border: solid,1px;
    border-collapse: collapse;
    padding:5px;
    max-width: 1000px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.quanlykhach .phuluc{
    margin-right: 30px;
    margin-bottom: 20px;
}
.quanlykhach .phuluc button{
    background-color: white;
    border-radius: 2px;
    margin: 0px;
    padding:10px;
    padding-left: 15px;
    padding-right:15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}
.quanlykhach .phuluc button:hover{
    color:#FFC720;
    background-color: #652621;
}
.quanlykhach .phuluc button.macdinh{
    color:#FFC720;
    background-color: #652621;
}
.quanlydonhang{
    background: white;
    display: flex;
    flex-direction: column;
    margin: 0px;
    border: solid,2px;
    border-radius: 17px;
}
.quanlydonhang h2{
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.quanlydonhang .muc{
    display: flex;
    gap:400px;
}
.quanlydonhang a{
    text-decoration: none;
    color: black;
    background: #fbedd6;
    padding:40px;
    font-size: 30px;
    border:solid,1px;
    border-radius: 17px;
}
.quanlydonhang .title{
    margin-left: 30px;
    margin-right:30px;
    display: flex;
    gap:500px;
    margin-top: 30px;
}
.title h3{
    font-size: 30px;
}
.title .timdon{
    display: flex;
    align-items: center;
    position: relative;
}
.timdon input{
    font-size: 25px;
    border: solid,1px;
    border-radius: 17px;
    padding-left: 50px;
}
.timdon i{
    position: absolute;
    font-size: 20px;
    left:10px;
}
.quanlydonhang table{
    border: solid,1px;
    border-collapse: collapse;
    margin:20px;
}
.quanlydonhang th, td {
    border: solid,1px;
    border-collapse: collapse;
    padding:5px;
    max-width: 900px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.quanlydonhang .phuluc{
    margin-right: 30px;
    margin-bottom: 20px;
}
.quanlydonhang .phuluc button{
    background-color: white;
    border-radius: 2px;
    margin: 0px;
    padding:10px;
    padding-left: 15px;
    padding-right:15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}
.quanlydonhang .phuluc button:hover{
    color:#FFC720;
    background-color: #652621;
}
.quanlydonhang .phuluc button.macdinh{
    color:#FFC720;
    background-color: #652621;
}
.quanlynhanvien{
    background: white;
    display: flex;
    flex-direction: column;
    margin: 0px;
    border: solid,2px;
    border-radius: 17px;
}
.quanlynhanvien h2{
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.quanlynhanvien table{
    border: solid,1px;
    border-collapse: collapse;
    margin:20px;
}
.quanlynhanvien th, td {
    border: solid,1px;
    border-collapse: collapse;
    padding:5px;
    max-width: 900px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.quanlynhanvien .phuluc{
    margin-right: 30px;
    margin-bottom: 20px;
}
.quanlynhanvien .phuluc button{
    background-color: white;
    border-radius: 2px;
    margin: 0px;
    padding:10px;
    padding-left: 15px;
    padding-right:15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}
.quanlynhanvien .phuluc button:hover{
    color:#FFC720;
    background-color: #652621;
}
.quanlynhanvien .phuluc button.macdinh{
    color:#FFC720;
    background-color: #652621;
}
.xacnhan button{
    font-size: 50px;
    color: #FFC720;
    background-color: #652621;
    border-radius: 17px;
    padding:20px;
}