body{
    background-image: url(ChatGPT\ Image\ Nov\ 8\,\ 2025\,\ 08_59_17\ AM.png);
}
.container{
    background-color: white;
    margin:200px;
    margin-top:100px;
    border-radius: 76px;
    border: 5px, solid;
    padding:50px;
}
.container div{
    display: flex;
    flex-direction: column;
}
.logo{
    margin-left: 450px;
}
.logo h1{
    color: #D4A35F;
    font-family: Arial, Helvetica, sans-serif;
}
.container img{
    width: 100px;
}
.container span{
    display: flex;
    align-items: center;
}
.container h3{
    font-size: 30px;
}
.container i{
    font-size: 30px;
    margin-right:15px;    
}
.container input{
    background-color: #DDF6FF;
    border: 1px, solid;
    border-radius: 17px;
    padding:30px;
    font-size: 30px;
}
.xacnhan{
    align-items: center;
}
.xacnhan button{
    margin-top:40px;
    padding: 30px;
    width: 200px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #652621;
    border-radius: 17px;
    color:#FFC720;
}
